
body{

}

ul li {
	
}


/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	ul.menu-main li{
		display: inline-block;
		width: 24%;
		text-align: center;
	}

	.class-span{
		text-transform: uppercase;
		color: black;
		font-size: 17px;
	}


}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}